:root {
    --primary-color: #7b1fa2;
    --primary-color-light: #e5b9f73b;
  }
  
  
  .card {
    box-shadow: 0 6px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 15px;
  }
  
  .color-theme, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
  }
  
  .bg-theme {
    background-color: var(--primary-color) !important;
  }
  
  .valign-middle {
    vertical-align: middle;
  }
  
  .valign-bottom {
    vertical-align: bottom;
  }
  
  .table {
    tbody tr td {
        padding: .9rem .75rem;
    }
  
    thead {
        border-bottom: 2px solid #dee2e6;
        color: var(--primary-color);
        font-weight: 600;
    }
  
    tr th {
        padding: .5rem  0.75rem;
    }
  
    tbody tr:hover {
        background: #fff;
        cursor: pointer;
        transition: .2s;
        transform: scale(1.01) !important;
        box-shadow: 2px 4px 15px 3px rgba(25, 42, 70, 0.11);
        border: 1px solid var(--primary-color-light);
        border-left: none;
        border-right: none;
    }
    
    tbody tr {
        border: 1px solid var(--primary-color-light);
        border-left: none;
        border-right: none;
    }
  }
  
  .table-hover>tbody>tr:hover {
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    --bs-table-accent-bg: var(--primary-color-light);
    color: var(--bs-table-hover-color);
  }
  
  .alert-success {
    background-color: #198754 !important;
  }
  
  .alert-error {
    background-color: #DC3545 !important;
  }
  
  .alert-warning {
    background-color: #FFC107 !important;
  }
  
  .alert-info {
    background-color: #0DCAF0 !important;
  }
  
  .mat-simple-snackbar-action{
    color: #fff!important;
  }
  